* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

/* Add your code here */
.flex-container{
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  height: 300px;
  align-items: flex-end;
 
  
}
.item1{
 order: 1;
}
/*
.item10{
}
.item2{

}
.item3{
  
}
.item4{
  
}
.item5{
  
}
.item6{
  
}
.item7{
  
}

.item8{
  
}
*/