@media only screen and (max-width: 476px)
{
  body{
    background-color: white ;
  }
}

@media only screen and (max-width: 768px)
{
  body{
    background-color: white ;
  }
}

h1 {color: #006060;}
body {
  background-color: rgb(0, 78, 78);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ccc;
  text-align: center;
  margin-top: 50px;
  
}

.form{
background-color: white;
margin: auto;
width: 400px;
height: 400px;
display: inline-block;
border: none;
}
.btn{
  font-size: 10px;
  margin-top: 15px;
  background-color: #006060;
  cursor: pointer;
  display:inline-block;
  text-align: center;
  padding: 6px 100px;

}
.btn:hover{background: #008080;}


/* Colors used include:
    - #aaa;
    - #006060;
    - #008080;
*/
