h1 {color: #008080;font-family: sans-serif;font-weight:normal;}


body {
  background-color: rgb(0, 78, 78);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ccc;
  margin-top: 50px;
  text-align: center;
  
}

.form{

background-color: white;
margin: auto;
width: 400px;
height: 400px;
display: inline-block;
border: none;
text-align: center;
}
input[type=text]{
  text-align: left;
  width:80%;
  padding: 8px 13px;
  margin: 5px 0;
}
label{
  color: black;
  text-align: left;
}
input[type=checkbox]
{
  text-align-last: left;
}
.btn{
  font-size: 10px;
  color: white;
  margin-top: 15px;
  background-color: #006060;
  cursor: pointer;
  display:inline-block;
  text-align: center;
  padding: 8px 150px;

}
textarea{
  border-color: #aaa;
}
.btn:hover{background: #008080;}


@media screen and (max-width:790px){

  body{
    width: 80%;
    float: none;
  }
  form{
    width: 80%;
    background-color: white;
    overflow: hidden;
    border: none;
  }
  textarea{
    width: 80%;
  }
}

@media screen and (max-width:476px)
{
body{
  width: 60%;
  float: none;
}
  form{
    width: 80%;
    height: 80%;
    float: none;
    background-color:white;
    overflow: hidden;
    border: none;
  }
  textarea{
    width: 80%;
  }
   .btn{
     width: 80%;
   }
   input[type=text]{
     width: 80%;
     display: inline;
   }
   h1{
     width: 80%;
   }
   label{
     width: 80%;
   }
}
/* Colors used include:
    - #aaa;
    - #006060;
    - #008080;
*/
