*{
  margin-top: 10px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}

a {

  color: rgb(0, 96, 96);
  text-decoration: none;
}

.column1, .column2, .column3{
  border-collapse: collapse;
  float: left;
  width: 33%;
}

.row1{

  width: 100%;
  display: table;
  clear: both;
  content: "";
}
li{
  list-style: none;
  font-size: small;
  color: #006060;
}
.card1, .card2, .card3
{

  padding:10px;
  text-align: left;
  background-color: white;
}
h1{

  font-weight: lighter;
  font-size: large;
}
.description{
  font-size: small;
}


@media screen and(max-width: 476px)
{
  .column1, .column2, .column3{

  border-radius: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;

  }
  

}
