*{
  margin-top: 10px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}

a {

  color: rgb(0, 96, 96);
  text-decoration: none;
}

.column1, .column2, .column3{
  border-style: solid;
  border-width: 2px;
  border-color: #555;
  border-color: lightgray;
  float: left;
  margin-left: 5px;
  width: 32%;
}

.row1{

  width: 100%;
  display: table;
  clear: both;
  content: "";
}
li{
  list-style: none;
  font-size: small;

 /* color: rgb(0, 96, 96);*/
  color:#008080;
}
.card1, .card2, .card3
{

  padding:10px;
  text-align: left;
  background-color: white;
}
h1{
 color: #555;
  font-weight: lighter;
  font-size: larger;
}
.description{
  font-size: small;
}


@media screen and(max-width: 476px)
{
  .column1, .column2, .column3{

  border-radius: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;

  }
  

}
